form {
   width: 50%;
   height: 500px;
   padding: 24px 0 24px 40px;
   .auth{
      height: 100%;
      .auth-box{
         border-radius: 10px;
         width: 100%;
         height: 100%;
         flex-direction: column;
         background-color: var(--main-oferta-bg);
         border: solid 2px var(--main-oferta-border-c);
         margin-left: 0;
         padding: 40px;
         >input{
            margin:20px 0;
         }
         >h5:hover{
            cursor: pointer;
         }
      }
   }
   .auth-rej .auth-box {
      height: 100%;
      padding: 20px;
      >input{
         margin: 15px!important;
      }
   }
}