nav{
   width: 100%;
   height: 10vh;
   background-color: var(--nav-bg);
   border-radius: 5px;
   margin-bottom: 25px;

   #searchBar{
      width: 40%;
      height: 100%;
      border-right:solid 2px var(--nav-border-c);
      >i{
         margin:0 15px;
         font-size: 20px;
         color:$blue;
      }
      >input{
         background-color: var(--nav-bg);
         margin: 0;
         padding: 0;
         width: 100%;
         height: 100%;
         border: none;
         font-size: 16px;
      }
      >input:focus{
         background-color: var(--nav-bg);
         outline: none;
      }
   }
   #searchOption{
      width: 30%;
      height: 100%;
      border-right:solid 2px var(--nav-border-c);
      >i{
         margin:0 10px;
         font-size: 25px;
         color:$blue;
      }
      >input{
         background-color: var(--nav-bg);
         margin: 0;
         padding: 0;
         width: 100%;
         height: 100%;
         font-size: 16px;
         border: none;
      }
      >input:focus{
         background-color: var(--nav-bg);
         outline: none;
      }
   }
   #searchElse{
      width: 30%;
      height: 100%;
      >label{padding: 0 20px}
      &-button{
         width:40%;
         height: 100%;
         padding: 15px;
         >button{
            background-color: $blue;
            border:none;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            color:white;
         }
         >button:hover{
            cursor: pointer;
            background-color: $hoverBlue;
            color: rgb(25, 25, 54);
         }
         >button:focus{
            outline: none;
         }
      }
   }
}