@media (max-width: "699px"){
#root-app{
   margin: 0;
   width: 100%;
   header{
      margin: 0 10%;
      width: 80%;
   }
   main{
      flex-direction: column-reverse;
      form{
         width: 100%;
         padding: 0;
         margin: 0;
      }
      #oferty{
         width: 100%!important;
         justify-content: center;
      }
   }
   nav{
      margin: 0 10%;
      width: 80%;
      margin-bottom: 25px;
      #searchBar{
         width: 100%;
         border-radius: 10px;
         input{
            border: none;
         }
      }
   }
}
#mobileMenu{
   position: fixed;
   height: 100vh;
   width: 100vw;
   z-index: 5;
   top: 0;
   right: 0;
   transform: translate(100vw, 0);
   transition: transform ease-in-out 0.5s;
   flex-direction: column;
   background-color: #111;
   &-header{
      background-color: #4550cf;
      padding: 5px;
      width: 100%;
      height: 80px;
   }
   &-logOut{
      margin:5px;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%;
      button{
      background-color: #4550cf;
      width: 100%;
      }
   }
   .mobileMenu-opcja{
      width: 100%;
      height: 70px;
      font-size: 17px;
      font-weight: bold;
      color:rgb(58, 58, 58);
      transition: background-color 0.3s ease-in-out;
      h3{
         padding: 0;
         margin: 0;
      }
      i{
         font-size: 25px;
         padding: 10px;
      }
   }
   .mobileMenu-opcja:hover{
      background-color: black;
      cursor: pointer;
   }
}

#navForCategoryAndName{
   width: 100%!important;
   margin: 0!important;
}
#divToAddWords{
   flex-direction: column;
   width: 80%;
   
   #lewyInput{
      border: none;
      width: 100%;
      border-bottom: solid 4px var(--nav-border-c);
      font-size: 25px;
   }
   #prawyInput{
      border: none;
      width: 100%!important;
      font-size: 25px;
   }
}

#Choosee{
   flex-direction: column;
}
#boxColor{
   width: 270px;
   height: 420px;
}
#boxIcon{
   width: 270px;
   height: 420px;
}
#BOOXICON{
   margin-top:50px;
}

}