@media (max-width: "699px"){
#root-app{
   main{
      flex-direction: column-reverse;
      form{
         width: 100%;
         padding: 0;
         margin: 0;
      }
      #oferty{
         width: 100%!important;
         justify-content: center;
      }
   }
   nav{
      #searchBar{
         width: 100%;
         border-radius: 10px;
         input{
            border: none;
         }
      }
   }
}
#mobileMenu{
   position: fixed;
   height: 100vh;
   width: 50vw;
   z-index: 5;
   top: 0;
   right: 0;
   transform: translate(50vw, 0);
   transition: transform ease-in-out 0.5s;
   flex-direction: column;
   background-color: rgb(92, 76, 187);
   span{
      margin: 20px 0;
   }
}
}